@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');

/*Corpo da página*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #1f1f1f;
    width: 100%;
    height: 100vh;
}

/*Barra de navegação*/
header {
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #161616;
    align-items: center;
    height: 120px;
    z-index: 1000;
}

/* LOGO */
#logo {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

#i-logo {
    color: white;
    font-size: 1.3rem;
}

#p-logo {
    color: white;
    font-size: 1.6rem;
    padding-left: 10px;
    font-weight: 700;
}

#p-logo a {
    text-decoration: none;
    color: #fff;
}

span,
span a {
    color: blueviolet;
    text-decoration: none;
}

span a:hover {
    color: rgb(188, 186, 186);
}

/* Continuação da barra de navegação */
#ul {
    display: flex;
}

.li {
    list-style: none;
    padding: 10px;
    margin-right: 50px;
}

.link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: blueviolet;
}


/*Início main*/
main {
    background-color: rgb(10, 10, 10);
}

/*Home*/
#home {
    background: url('/imagem/foto-code.jpg') center/100% 600px no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-top: 50px;
    height: 100vh;
}

/*
#home img {
    padding-top: 40px;
    height: 400px;
    width: 100%;
    filter: blur(10px);
}

/*Texto da home*/
#text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 3.2rem;
}

#text p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    font-style: italic;
    width: 29ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(29) infinite, blinking 0.5s infinite step-end alternate;
}

/*Efeito de digitação*/
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

.menu-btn {
    display: none;
}

/*Sobre mim*/
#sobre {
    background-color: rgb(10, 10, 10);
}

.sobre-mim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 100px;
}

.sobre-mim img {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    border-radius: 10%;
}

.text-sobre-mim {
    color: white;
    text-align: justify;
}

.text-sobre-mim h2 {
    text-align: center;
    padding-bottom: 20px;
}

.btn-cv {
    font-size: 1.2rem;
    padding: 8px;
    margin-top: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.text-sobre-mim h3 {
    text-align: center;
}

.icone-especialidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    padding: 20px;
    gap: 20px;
    padding-bottom: 50px;
}

/*Parte dos meus projetos*/

/*Linha para divisão*/
#projects hr {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

#projects {
    background-color: rgb(10, 10, 10);
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

#projects h2 {
    font-size: 1.8rem;
    padding-bottom: 20px;
    margin-bottom: 30px;
    font-weight: 600;
}

/*Parte descrição dos projetos com imagens e textos*/
.projeto {
    position: relative;
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
}

.img-projeto {
    width: 100%;
    /* Garante que a imagem ocupe 100% da largura do contêiner */
    height: auto;
    /* Mantém a proporção original da imagem */
}

.descricao {
    position: absolute;
    top: 0;
    /* Mudei a posição para o topo */
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    text-align: center;
    padding: 10px;
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing: border-box;
    /* Adicionei isso para incluir padding no tamanho total */
}

.projeto:hover .descricao {
    opacity: 1;
}

/*Contatos*/
#contact {
    background-color: rgb(10, 10, 10);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h2 {
    color: white;
    font-size: 2.4rem;
}

.text p {
    color: white;
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    padding-top: 70px;
    font-size: 4.5rem;
}

.icons a {
    text-decoration: none;
    color: white;
}

.fa-brands:hover,
.fa-sharp:hover {
    cursor: pointer;
    color: lightgray
}

/*Rodapé do site*/
.footer {
    background-color: rgb(10, 10, 10);
    color: rgb(218, 214, 214);
    text-align: center;
    padding-top: 10px;
}

.logo-footer {
    margin: 0 auto;
}

/*Responsividade*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 768px) {
    /*Menu responsivo*/
    .li {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        background-color: rgb(10, 10, 10);
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }
    .mobile-menu .li {
        display: block;
        padding-top: 1.2rem;
    }

    .open {
        display: block;
    }
    /*Parte principal*/

    /*Home*/
    #text h1 {
        font-size: 2.4rem;
    }

    #text p {
        font-size: 1.8rem;
        white-space: nowrap;
    }


    /*Sobre mim*/
    .sobre-mim {
        flex-direction: column;
        padding: 50px;
    }

    .sobre-mim img {
        height: 200px;
        width: 180px;
    }

    /*Divisão dos projetos*/
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 15px;
        margin: auto;
        width: 100%;
        max-width: 768px;
    }

    .text h2 {
        font-size: 2.4rem;
    }

    .text p {
        font-size: 1.2rem;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }
}