@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;400&family=Kanit:ital,wght@0,400;1,200&family=Labrada:wght@100;200&family=Lato:wght@100;300;400;700&family=Raleway:wght@100;300&family=Ubuntu:wght@300;400;700&display=swap');

/*Corpo da página*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: #1f1f1f;
    width: 100%;
    height: 100vh;
}

/*Barra de navegação*/
header {
    width: 100%;
    position: fixed;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    background-color: #161616;
    align-items: center;
    height: 120px;
    z-index: 1000;
}

/* LOGO */
#logo {
    display: flex;
    align-items: center;
    padding-left: 8px;
}

#i-logo {
    color: white;
    font-size: 1.1rem;
    margin-left: 2rem;
}

#p-logo {
    color: white;
    font-size: 1.2rem;
    padding-left: 10px;
    font-weight: 700;
}

#p-logo a {
    text-decoration: none;
    color: #fff;
}

/* Continuação da barra de navegação */
#ul {
    display: flex;
}

.li {
    list-style: none;
    padding: 10px;
    margin-right: 50px;
}

.link {
    color: white;
    text-decoration: none;
    transition: 0.3s;
    font-weight: 600;
}

.link:hover {
    color: rgb(167, 83, 246);
}


/*Início main*/
main {
    background-color: rgb(10, 10, 10);
}

/*Home*/
#home {
    background: url('/imagem/foto-code.jpg') center/100% 600px no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

/*
#home img {
    padding-top: 40px;
    height: 400px;
    width: 100%;
    filter: blur(10px);
}

/*Texto da home*/
#text {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 3.2rem;
}

#text p {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.4rem;
    font-weight: 300;
    font-style: italic;
    width: 29ch;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 2s steps(29) infinite, blinking 0.5s infinite step-end alternate;
}

/*Efeito de digitação*/
@keyframes typing {
    from {
        width: 0;
    }
}

@keyframes blinking {
    50% {
        border-color: transparent;
    }
}

.menu-btn {
    display: none;
}

/*Sobre mim*/
#sobre {
    background-color: rgb(10, 10, 10);
}

.sobre-mim {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    padding-left: 150px;
    padding-right: 150px;
    gap: 100px;
}

/*
.sobre-mim img {
    height: 300px;
    width: 300px;
    border: 3px solid white;
    border-radius: 10%;
}
*/

.text-sobre-mim {
    color: white;
    width: 60%;
    text-align: center;
}

.text-sobre-mim h2 {
    text-align: center;
    padding-bottom: 20px;
}

.p-sobre {
    text-align: justify;
    line-height: 1.5rem;
}

.btn-cv {
    font-size: 1.2rem;
    padding: 8px;
    margin-top: 2.5rem;
    border: none;
    border-radius: 10px;
    margin-bottom: 2.5rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-cv:hover {
    background-color: #adaaad;
    color: white;
}

.text-sobre-mim a {
    text-decoration: none;
    color: black;
}

.text-sobre-mim h3 {
    text-align: center;
}

.icone-especialidades {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 3rem;
    padding: 20px;
    gap: 3rem;
    padding-bottom: 4rem;
}

/*Parte dos meus projetos*/

/*Linha para divisão*/
#projects hr {
    margin: auto;
    width: 50%;
    margin-bottom: 20px;
}

#projects {
    background-color: rgb(10, 10, 10);
    color: #fff;
    text-align: center;
    margin-top: 50px;
}

#projects h2 {
    font-size: 1.8rem;
    padding-bottom: 20px;
    margin-bottom: 3rem;
    font-weight: 600;
}

.grid {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 3rem;
}

/*Parte descrição dos projetos com imagens e textos*/
.projeto {
    margin: 10px;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px;
    background-color: rgb(10, 10, 10);
    position: relative;
}

.projeto img {
    height: 300px;
    width: 300px;
}

.projeto a {
    text-decoration: none;
    color: white;
}

.hidden {
    display: none;
}

.proj-title {
    margin-top: 10px;
    background-color: #474747;
    padding: 10px;
    width: 100%;
    font-size: 1.2rem;
}

#projects button {
    margin-top: 20px;
    padding: 15px 40px;
    background-color: blueviolet;
    font-size: 1.3rem;
    color: #fff;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

#projects button:hover{
    background-color: rgb(95, 30, 155);
}

.descricao {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    color: #fff;
    text-align: justify;
    padding: 5rem;
    bottom: 0;
    opacity: 0;
    transition: opacity 0.3s;
    box-sizing: border-box;
}

.projeto:hover .descricao {
    opacity: 1;
}

/*Contatos*/
#contact {
    background-color: rgb(10, 10, 10);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text h2 {
    color: white;
    font-size: 2.4rem;
}

.text p {
    color: white;
    font-size: 1.3rem;
    font-style: italic;
    font-family: 'Raleway', sans-serif;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 80px;
    padding-top: 70px;
    font-size: 4.5rem;
}

.icons a {
    text-decoration: none;
    color: white;
}

.fa-brands:hover,
.fa-sharp:hover {
    cursor: pointer;
    color: lightgray
}

/*Rodapé do site*/
.footer {
    background-color: rgb(10, 10, 10);
    color: rgb(218, 214, 214);
    text-align: center;
    padding-top: 10px;
}

.logo-footer, .footer p {
    text-align: center;
    margin: 0 auto;
}

/*Responsividade*/
.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}


@media screen and (max-width: 768px) {
    /*Menu responsivo*/
    .li {
        display: none;
    }
    .mobile-menu-icon {
        display: block;
    }
    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 2rem;
    }
    .mobile-menu ul {
        background-color: rgb(10, 10, 10);
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: center;
        text-align: center;
        padding-bottom: 1rem;
        padding-left: 2.6rem;
    }
    .mobile-menu .li {
        display: block;
        padding-top: 1.2rem;
        text-align: center;
    }

    .open {
        display: block;
    }
    /*Parte principal*/

    /*Home*/
    #text h1 {
        font-size: 2.2rem;
    }

    #text p {
        font-size: 1.3rem;
        white-space: nowrap;
    }


    /*Sobre mim*/
    .sobre-mim {
        flex-direction: column;
        padding: 20px;
    }

    .sobre-mim img {
        height: 200px;
        width: 180px;
    }

    .icone-especialidades {
        gap: 2rem;
    }

    /*Divisão dos projetos*/
    .grid {
        grid-template-columns: 1fr;
        margin: auto;
        width: 100%;
        padding-left: 20px;
        padding-right: 20px;
    }

    .projeto img {
        height: 200px;
        width: 200px;
    }

    .text h2 {
        font-size: 2.1rem;
        text-align: center;
        padding-bottom: 10px;
    }

    .text p {
        font-size: 1.1rem;
    }

    .icons {
        display: flex;
        flex-direction: row;
        gap: 20px;
        font-size: 2.8rem;
        padding-top: 40px;
    }
}